//Deze kleuren slaan nog niet echt ergens op
//Black colors
$color-black: #000;
$color-grey: #5c5c5c;

//White colors
$color-white: #FFF;
$color-dark-white: #CDC5C5;

//Blue colors
$color-blue: #013392;
$color-blue-light: #345ca8;
$color-purple: #D3CAE8;

//Red colors:
$color-red: #c21515;

//Other colors
$color-whitegray: #ADACB8;
$color-gold: rgb(233, 183, 114);