//Deze kleuren slaan nog niet echt ergens op
//Black colors
$color-black: #000;
$color-grey: #5c5c5c;

//White colors
$color-white: #FFF;
$color-dark-white: #CDC5C5;

//Blue colors
$colour-blue: #013392;
$color-blue-light: #345ca8;

//Red colors:
$color-red: #c21515;

//Other colours
$colour-gold: #ADACB8;