//Deze kleuren slaan nog niet echt ergens op
//Black colors
$color-black: #000;
$color-gray: #484848;

//White colors
$color-white: #FFF;
$color-dark-white: #CDC5C5;

//Blue colors
$color-blue: #0B5391;
$color-light-blue: #138AF2;