@import'../../styles/colors';
@import '../../styles/bootstrap';

.nav{
    background-color: $color-blue;
    padding: 0px;
    @include media-breakpoint-up(md){
        background-color: green;
    }
    .nav-expanded{
        display: none;
        @media only screen and(min-width:768px){
            display: flex;
        }
    }
    .nav-collapsed{
        display: inline-block;
        @media only screen and(min-width: 768px){
            display: none;
        }
    }
    li{
        height: 100%;
        padding: 0.5em 0;
        transition: all 0.5s ease-in;
        cursor: pointer;
        //Change with bootstrap media queries.
        a{
            margin: 0 0.5em;
            color: $color-white;
            width: 100%;
            text-decoration: none;
            transition: all 0.5s ease-in;
        }
    }
    li:last-child{
        margin-right: 0;
    }
    li:nth-last-child(2){
        margin-left: auto;
    }
    li:hover{
        background-color: $color-light-blue;
        a{
            color: $color-dark-white;
        }
    }
    ul{
        width: 90%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        @media only screen and(min-width: 992px){
            margin: 0 auto;
        }
    }
}