@import '../../styles/colors.scss';
$baseName: "question";

.#{$baseName}{
    &__horizontal-line{
        position: absolute;
        display: inline-block;
        height: 0px;
        width: 100%;
        border-top: 2px solid $colour-gold;
        z-index: -1;
    }
    &__header{
        width: 80%;
        text-align: center;
        color: white;
        z-index: 1;
        background-color: $colour-blue;
        //We could change border radius to look more like the original
        border-radius: 24px;
        border: 2px solid $colour-gold;
        padding: 5px 15px;
    }
    &__lifelines-container{
        display: flex;
        flex-wrap: wrap;
        width: 10%;
        position: absolute;
        bottom: 100%;
        right: 15px;
        &__lifeline{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: calc(50% - 5px);
            margin-left:  5px;
            color: white;
            background-color: $colour-blue;
            border-radius: 24px;
            padding: 5px 15px;
            margin-bottom: 5px;
            transition: all 0.2s ease-in;
            &:hover{
                background-color: $color-blue-light;
                cursor: pointer;
            }
            &--disabled{
                &:hover{
                    background-color: $colour-blue;
                    cursor: not-allowed;
                }
                .#{$baseName}__lifelines-container__lifeline__icon-container{
                    &:after{
                        opacity: 1;
                    }
                }
            }
            &__icon-container{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 20px;
                position: relative;
                &:after{
                    content: '';
                    opacity: 0;
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    transform: rotate(45deg);
                    border-top: 3px solid $color-red;
                }
            }
        }
    }
    &__answers{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        &__answer-container{
            position: relative;
            width: 50%;
            &__answer{
                background-color: $colour-blue;
                border-radius: 24px;
                border: 2px solid $colour-gold;
                color: white;
                padding: 5px 15px;
                transition: all 0.3s ease-in;
                &:hover{
                    cursor: pointer;
                    background-color: $color-blue-light;
                }
                &__prefix{
                    color: $colour-gold;
                }
                &--disabled{
                    background-color: $color-grey;
                    text-decoration: line-through;
                    &:hover{
                        cursor: not-allowed;
                        background-color: $color-grey;
                    }
                }
            }
        }
    }
}